.barra-progresso {
  color: #ffffff;
  background-color: #242424;

  padding: 10px;
  border-radius: 50px;
  text-align: center;
  font-size: 0.85rem;

  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  overflow: hidden;
  position: relative;
  flex-shrink: 0;
  width: 100%;
}

.barra-progresso span {
  position: relative;
  z-index: 1;
  text-shadow: 0px 1px 4px rgba(0, 0, 0, 0.7);

}

@media (min-width: 768px) {
  .barra-progresso {
    width: 100%;
  }
}