.botao-amarelo {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding: 10px;
  background-color: #ffcb3c;
  border-radius: 15px;
  border: none;
  width: 100%;
  font-size: 24px;
  cursor: pointer;
}
