.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 15px; 
  height: 100%;
}

.header {
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 5px; 
}

.title {
  color: #f2f2f2;
  font-size: 1.8rem;
}

.subtitle {
  color: #8e8e93;
  font-size: 1rem; 
  margin-bottom: 0; 
}

.inputs {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.inputsPequenos {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.sexoContainer {
  display: flex;
  flex-direction: column;
  gap: 8px; 
}

.sexoLabel {
  color: #f2f2f2;
  font-size: 1.1rem; 
}

.sexoRadios {
  display: flex;
  gap: 15px;
}

.sexoRadios > * {
  flex: 1;
}

@media (min-width: 768px) {
  .inputsPequenos {
    flex-direction: row;
    justify-content: space-between;
  }

  .inputsPequenos > * {
    flex: 1;
  }
}