.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
  text-align: center;
  width: 100%;
}
.title {
  color: #f2f2f2;
  font-size: 2rem;
  margin-top: 10px;
}

.description {
  color: #f2f2f2;
  font-size: 1rem;
}
.check {
  color: rgb(50, 209, 72);
  font-size: 5rem;
}

@media (min-width: 480px) {
  .title {
    font-size: 2.5rem;
  }

  .description {
    font-size: 1.2rem;
  }

  .check {
    font-size: 7rem;
  }
}

@media (min-width: 768px) {
  .container {
    gap: 60px;
  }

  .title {
    font-size: 3rem;
    margin-top: 15px;
  }

  .description {
    font-size: 1.5rem;
  }

  .check {
    font-size: 10rem;
  }
}
