.container {
  width: 100%;
}

.main {
  max-width: 500px;
  margin: 0 auto;
  padding: 24px 20px 32px;
}

@media (min-width: 768px) {
  .main {
    padding-top: 20px; 
    padding-bottom: 10px;
  }

  .workoutCard {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }

  .playButton {
    align-self: center;
  }
}
