.wizard {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 10px;
  gap: 15px;
  height: 100vh;
  box-sizing: border-box;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.loading {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 50px;
  min-height: 100dvh;
}
.loading h2 {
  font-size: 2rem;
  color: #f2f2f2;
}

.passo-animado {
  flex: 1;
  display: flex;
  flex-direction: column;
  width: 100%;
  animation: efeitoPop 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.275) forwards;
}

@keyframes efeitoPop {
  from {
    opacity: 0;
    transform: scale(0.95);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

@media (min-width: 768px){
  .wizard {
    align-items: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 600px; 
    height: 90vh; 
    border-radius: 20px;
  }
}