.navbar {
  display: flex;
  justify-content: space-between;
  background-color: #323537;
  padding: 0.5rem;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  z-index: 1000;
  font-size: 2.25rem;
}
.icone {
  display: flex;
  justify-content: center;
}
.item {
  display: flex;
  cursor: pointer;
  padding: 1rem;
  border-radius: 5px;
  text-decoration: none;
  color: white;
  transition:
    background-color 0.3s ease,
    color 0.3s ease;
}
.ativo {
  background-color: #ffcb3c;
  color: #000000;
}
.itens {
  list-style: none;
  display: flex;
  justify-content: space-around;
  width: 75%;
}
.itensPerfil {
  display: flex;
  justify-content: center;
  width: 25%;
}
.perfil {
  display: none;
}
.texto {
  display: none;
}
.itens img {
  display: none;
}

@media (min-width: 768px) {
  .navbar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: auto;
  }
  .texto {
    display: block;
    font-size: 1.75rem;
  }
  .icone {
    display: none;
  }
  .ativo {
    background-color: transparent;
    color: #ffcb3c;
  }
  .itens img {
    display: block;
    width: 2.5rem;
    object-fit: cover;
    align-items: center;
  }
  .itens {
    display: flex;
    justify-content: start;
    gap: 5rem;
    padding-left: 2rem;
    width: auto;
  }
  .itensPerfil {
    width: auto;
  }
  .perfil {
    display: flex;
    align-items: center;
    gap: 1rem;
  }
  .textoOla {
    font-size: 1rem;
  }
  .iconePerfil {
    display: flex;
    align-items: center;
    font-size: 2rem;
  }
}
