.navbar {
  background-color: #323537;
  padding: 0.5rem;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  font-size: 2.25rem;
}
.icone {
  display: flex;
  justify-content: center;
}
.item {
  display: flex;
  cursor: pointer;
  padding: 1rem;
  border-radius: 5px;
  text-decoration: none;
  color: white;
  transition:
    background-color 0.3s ease,
    color 0.3s ease;
}
.ativo {
  background-color: #ffcb3c;
  color: #000000;
}
.navbar div {
  list-style: none;
  display: flex;
  justify-content: space-around;
}
.texto {
  display: none;
}
.itens img{
  display: none;
}

@media (min-width: 768px) {
  .navbar {
    position: static;
  }
  .texto {
    display: block;
  }
  .icone {
    display: none;
  }
  .ativo {
    background-color: transparent;
    color: #ffcb3c;
  }
  .itens img{
    display: block;
    width: 2.5rem;
    /* height: 2.5rem; */
    object-fit: cover;
    align-items: center;
  }
}
