.main {
  width: 100%;
  max-width: 100%;
  overflow-x: hidden;
}

.main-with-navbar {
  width: 100%;
  overflow-x: hidden;
  padding-bottom: 80px;
}

body.modal-aberto #navbar {
  display: none !important;
}

body.modal-aberto .main-with-navbar {
  padding-bottom: 0 !important;
}

@media (min-width: 768px) {
  .main-with-navbar {
    padding-bottom: 0;
    padding-top: 80px;
  }
}
